.DS_Store
transcript
tcl_stacktrace.txt
c5_pin_model_dump.txt
*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
*.qpf
*.qsf
*.qws
*.sof
*.bak
*.qxp
*.qarlog
*.report
*.rpt
*.pin
*.jdi
*.done
*.cdf
*.sdc
*.smsg
*.stp
*.summary
work/
db/
incremental_db/
simulation/
output_files/
